body {    
    margin: 0;
    padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	min-width: 900px;
}
.form-style,
.list-style {
	background: #cecece;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
}
.form-style {
	width: 50%;
}
.list-style {
	width: 79%;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
	border: none;
	border-radius: 4px;
	font-size: 1em;
	outline: 0;
	padding: 7px;
	width: 100%;
	box-sizing: border-box;
	background-color: #e8eeef;
	color:black;
	box-shadow: 0px 0px 4px black inset;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus{
	background: #d2d9dd;
}
.form-style input[type="submit"],
.form-style input[type="button"],
.button
{
	display: block;
	padding: 10px 30px;
	color: #FFF;
	margin: 10px auto;
	font-size: 1em;
	text-align: center;
	font-style: normal;
	border-radius: 16px;
	cursor: pointer;
	transition: .3s background-color;
    text-decoration: none;
    border-width: 2px;
	border: 2px solid #a0a0a0;
}
.list-button
{
	margin: 0 auto;
	padding: 0px 0px;
}
.form-style input[type="submit"],
.form-style input[type="button"],
.button,
.list-button,
.list-style th {
    background: #339966;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover,
.button:hover,
.list-button:hover
{
	background: #208040;
}
.bottomMargin {
	margin-bottom: 30px;
}
.form-style fieldset{
	border-style: solid none none;
    border-color: #808080;
}
.form-style legend {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}
.form-style label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}



.header-title {
    font-size: 3em;
    padding: 10px;
    margin: auto;
    text-align: center;
}
.info-message {
    font-size: 2em;
    color: red;
    margin: 10px auto;
    text-align: center;
}
.addedRow {
	background-color:#ff8080
}
.errorInput {
	color: red;
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
}



.list-style table {
	width: 100%;
    border-collapse: collapse;
}
.list-style th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #fff;
}
.list-style tr:hover{
	background-color:#999999
}



.nav ul {
	background-color: #444;
	text-align: center;
}
.nav li {
  display:inline-block;
  font-size: 1.4em;
  line-height: 40px;
  width: 20%;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.nav a:hover {
  background-color: #005f5f;
}
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}





.form-style select{
	-webkit-appearance: menulist-button;
	height:35px;
}