<header>
	<div class="header-title">Address Book by Ivan Martinovi&#263</div>
	<div class="nav">
		<ul>
			<li><a href="${pageContext.request.contextPath}">Home</a></li>
			<li><a href="${pageContext.request.contextPath}/contacts">Contacts</a></li>
			<li><a href="${pageContext.request.contextPath}/countries"">Countries</a></li>
			<li><a href="${pageContext.request.contextPath}/cities"">Cities</a></li>
		</ul>
	</div>
</header>